.borde-botón{
    border-style: solid;
    background-color: #1A1110;
    border-radius: 50px;
}

.borde-pantalla{
    border-style: double;
    border-width: 5px;
    border-color: #1A1110;
}

.borde-calculadora{
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
    border-color: #1A1110;
}

.fondo-calculadora{
    background-color: #CEC8EF;
}

.fondo-pantalla{
    background-color: #253529;
}

.placeholder-pantalla{
    color: #253529;
}

.altura-pantalla{
    height: 5.1em;
}

body {
    background-image: url('imagenes/matematica.jpg');
}